@import "./formAdmin.scss";

.AdminTypeDisplay {
  @include admin-field;
  display: flex;
  justify-content: space-around;
  position: relative;
  text-align: center;
  border: 2px solid #007a85;
  border-radius: 10px;

  img.leaf {
    position: absolute;
    top: 0px;
    right: -42px;
    background-color: white;
    border-bottom: none;
    transform: rotate(15deg);
  }

  select {
    text-align: center;
    margin: 30px auto;
    border-color: #719499;
    width: 15%;
    border-radius: 5px;
  }
}
