.HomeElements {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto condensed"
    sans-serif;

    .description {
        margin:8px;
    }

    .title {
        font-size:22px;
        color:#007A85;
    }

    span {
        color:#007A85;
        font-size:18px;
    }

    p {
        color: #719499;
        margin-left: 18px;
        margin-right: 18px;
      }
      
}