.Navbar {
    margin-bottom: 70px;
    .sidenav---icon-bar---u1f02 {
        background-color: white;
        transition-duration: 0.2s;
    }

    .sidenav---sidenav---_2tBP{
        background-color: #007A85;
        background-image: url("/images/navbarBackground.jpg");
        top:0;
        bottom:0;
        background-size: cover;
        position: fixed;
    }

    .sidenav---sidenav-nav---3tvij > 
    .sidenav---sidenav-navitem---uwIJ- > 
    .sidenav---navitem---9uL5T 
    .sidenav---navicon---3gCRo > *, 
    .sidenav---sidenav-nav---3tvij > 
    .sidenav---sidenav-navitem---uwIJ- > 
    .sidenav---navitem---9uL5T 
    .sidenav---navtext---1AE_f > * {
        color:white;
    }
    .sidenav---sidenav-toggle---1KRjR{
        background-color:none;
    }
    .background-menu {
        transition-duration: 0.3s;
    }
    .background-menu-text {
        color:transparent;
    }
    .background{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: none;
        transition-duration:0.3s;
        z-index: 1001;
        background: rgba(0,0,0,.6);
    }
    .background-text {
        display:none;
    }
    a {
        text-decoration: none;
    }
    .grenouille {
        width: 40px;
        padding: 5px;
        top: 8px;
        right: 10px;
        position:fixed;
        z-index: 200;
    }
}

/* if False */

.Navbar.Close {
    .sidenav---icon-bar---u1f02{
        background-color: #A84746;
    }
    .sidenav---sidenav---_2tBP {
        background: none;
        height: 70px;
    }
    .custom-sidenav {
        display: none;
    }
    .background{
        background: inherit;
        transition-duration:0.3s;
        z-index: -200;
    }
    .background-menu {
        width:100%;
        height: 60px;
        top: 0;
        position:fixed;
        z-index: 200;
        background-color: white;
        transition-duration:0.3s;
    }
}
