.PartnersLinks {
  width: 100%;
  list-style: none;

  p {
    text-align: center;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  a img {
    height: 60px;
    width: auto;
  }
  h2{
    color:#007A85;
    text-align: center;
    margin-top: 40px;
  }
};
